/*! 
 
 ========================================================= 
 * Bootstrap Wizard - v1.1.1 
 ========================================================= 
  
 * Product Page: https://www.creative-tim.com/product/bootstrap-wizard 
 * Copyright 2017 Creative Tim (http://www.creative-tim.com) 
 * Licensed under MIT (https://github.com/creativetimofficial/bootstrap-wizard/blob/master/LICENSE.md) 
  
 ========================================================= 
  
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. 
 */ 
  
 
 
/*           Animations              */ 
 
.image-container { 
  min-height: 100vh; 
  background-position: center center; 
  background-size: cover; 
} 

.picture-container { 
  position: relative; 
  cursor: pointer; 
  text-align: center; 
} 
.picture { 
  width: 150px; 
  height: 150px; 
  background-color: #999999; 
  border: 4px solid #CCCCCC; 
  color: #FFFFFF; 
  border-radius: 50%; 
  margin: 5px auto; 
  overflow: hidden; 
  transition: all 0.2s; 
  -webkit-transition: all 0.2s; 
} 
.picture:hover { 
  border-color: #2ca8ff; 
} 
.picture input[type="file"] { 
  cursor: pointer; 
  display: block; 
  height: 100%; 
  left: 0; 
  opacity: 0 !important; 
  position: absolute; 
  top: 0; 
  width: 100%; 
} 
.picture-src { 
  width: 100%; 
}